<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>jdbc.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>jdbc.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderCommit</servlet-name>
        <servlet-class>jdbc.OrderCommit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderCommit</servlet-name>
        <url-pattern>/OrderComit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>jdbc.AddCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/AddCar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteOrders</servlet-name>
        <servlet-class>jdbc.DeleteOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrders</servlet-name>
        <url-pattern>/DeleteOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeInfo</servlet-name>
        <servlet-class>jdbc.ChangeInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeInfo</servlet-name>
        <url-pattern>/ChangeInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusinessLogin</servlet-name>
        <servlet-class>jdbc.BusinessLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessLogin</servlet-name>
        <url-pattern>/BusinessLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublishC</servlet-name>
        <servlet-class>jdbc.PublishC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishC</servlet-name>
        <url-pattern>/PublishC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelateC</servlet-name>
        <servlet-class>jdbc.DelateC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelateC</servlet-name>
        <url-pattern>/DelateC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateC</servlet-name>
        <servlet-class>jdbc.UpdateC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateC</servlet-name>
        <url-pattern>/UpdateC</url-pattern>
    </servlet-mapping>

</web-app>